.header-cq {
    container-type: inline-size; /* 이 박스 너비를 기준으로 쿼리 가능 */
}

/* 기본값: 좁으면 햄버거 */
.full-header-container {
    display: none;
}

.mobile-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 컨테이너(header-cq) 너비가 1024px 이상일 때 */
@container (min-width: 768px) {
    .full-header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-header-container {
        display: none;
    }
}
